services:
  app:
    image: bloglist-front:prod
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
  server:
    image: bloglist-back:prod
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    environment:
      - NODE_ENV=production
  nginx:
    image: nginx:1.20.1
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:80
    container_name: bloglist-reverse-proxy
    depends_on:
      - app
      - server
